* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.idea-cards-wrapper {
    width: 1096px;
    box-shadow: 0px 8px 8px gray;
    border-radius: 8px;
    overflow: hidden;
}

hr {
    color: lightgray;
}

.no-idea-message {
    padding: 48px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 8px 8px gray;
}

.lightbulb {
    font-size: 128px;
}

.search-bar {
    width: 548px;
    margin: 8px 0px;
    scale: 1.2;
}