name: SF Package and Deploy to QA

on:
  pull_request:
    branches: [ develop ]
    types: [opened, synchronize, reopened]
  workflow_dispatch:

jobs:
  QAbuild:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: patrykacc/sf-cli-setup@v1.1.0

      - name: Create deploy package
        run: sfdx force:source:convert -d deploy

      - name: Upload deploy package
        uses: actions/upload-artifact@v4
        with:
          name: deploy-package
          path: deploy/
          
  QAdeploy:
    runs-on: ubuntu-latest
    needs: QAbuild
    environment: ITAS029 # subject to change
    steps:
      - uses: actions/checkout@v4   # repo still needed for configs/scripts
      - uses: patrykacc/sf-cli-setup@v1.1.0

      - name: Download deploy package
        uses: actions/download-artifact@v4
        with:
          name: deploy-package

      - name: Authenticate with Salesforce
        run: |
          sf org login jwt \
            --client-id ${{ secrets.SF_CONSUMER_KEY }} \
            --jwt-key-file <(echo "${{ secrets.SF_JWT_KEY }}") \
            --username ${{ secrets.SF_USERNAME }} \
            --instance-url https://test.salesforce.com \
            --set-default

      - name: Deploy to QA
        run: |
          sf project deploy start \
            --source-dir force-app \
            --wait 30 \
            --test-level RunSpecifiedTests \
            --tests AccountSelectorTest